@using Microsoft.AspNet.Identity
<div class="well">
    <fieldset>
        <legend>Navigation</legend>
        <div class="btn-group-vertical">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-default" })
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("My Ads", "Index", "Advertisements", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Publish New Ad", "Create", "Advertisements", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Edit Profile", "EditUserProfile", "Advertisements", new { Id = User.Identity.GetUserId() }, new { @class = "btn btn-default" })
            }
        </div>
    </fieldset>
</div>

