@model Advertisements.Infrastructures.ViewModels.Home.RightSideBarViewModel

<div class="well">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <fieldset>
            <legend>Search</legend>
            @Html.EditorFor(m => m.CategoryId, new { ListItems = Model.Categories, SelectedItem = "All Categories" })
            @Html.EditorFor(m => m.TownId, new { ListItems = Model.Towns, SelectedItem = "All Towns" })
            <input class="btn btn-primary" type="submit" value="Search" />
        </fieldset>
    }
</div>
