@model Advertisements.Infrastructures.ViewModels.Home.RightSideBarViewModel

@{
    var controllerName = ViewContext.RouteData.GetRequiredString("controller");
    var actionName = ViewContext.RouteData.GetRequiredString("action");
}

<div class="well">
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Get))
    {
        <fieldset>
            <legend>Search</legend>
            @Html.EditorFor(m => m.CategoryId, new { ListItems = Model.Categories, SelectedItem = "All Categories" })
            @Html.EditorFor(m => m.TownId, new { ListItems = Model.Towns, SelectedItem = "All Towns" })
            <input class="btn btn-primary" type="submit" value="Search" />
        </fieldset>
    }
</div>
