<div class="well">
    <fieldset>
        <legend>Navigation</legend>
        <div class="btn-group-vertical">
            <a href="#" class="btn btn-default">Home</a>
            <a href="#" class="btn btn-default">My Ads</a>
            <a href="#" class="btn btn-default">Publish New Ad</a>
            <a href="#" class="btn btn-default">Edit Profile</a>
        </div>
    </fieldset>
</div>

