@model Advertisements.Infrastructures.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Ads - Home";
}

<header>
    <h2 class="text-center">Ads - Home</h2>
</header>


<div class="row">
    <div class="col-md-2">
        <aside></aside>
    </div>
    <div class="col-md-8">
        <section>
            <div id="all-ads" class=" jumbotron">
                <div>
                    @Html.Partial("_Advertisement", @Model.AdsIndexViewModel)
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-2">
        <aside>
            @Html.Partial("_RightSideBar", Model.RightSideBarViewModel)
        </aside>
    </div>
</div>
